{% extends "BASE.html" %}

{% block title %}
INDEX
{% endblock %}

{%block javascript %}

<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" type="text/css" >

{% endblock %}

{% block table %}
    <table id="tabela" class="display" style="width:100%">
{% endblock %}
{% block content %}

    
{% endblock %}
{%block endtable %}
    </table>
{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>

<script>

$(document).ready( function () {
    $('#tabela').DataTable(
        {
            "language": {
                "lengthMenu": "Mostrar _MENU_ linhas por página",
                "search":     "Procurar:",
                "paginate": {
                    "first":      "Primeira",
                    "last":       "Última",
                    "next":       "Próxima",
                    "previous":   "Anterior"
                },
                "emptyTable":     "Nenhuma informação encontrada",
                "info": "Mostrando página _PAGE_ de _PAGES_"
            }
        }
    );
} );

</script>

{% endblock %}

