<!DOCTYPE html>
<html>
<meta name="robots" content="noindex">
  
  <head>
      {% block html_head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
          {% endblock %}
      <title>{% block title %}{% endblock %} - Plataforma Yoko</title>
      {% endblock %}

      {% block javascript %}

      {% endblock %}
      <style type='text/css'>
        .font-header {
              font-size: 10px;
              text-align: center;
              font-weight: 700
        }
        .font-footer {
              font-size: 10px;
              text-align: center;
              font-weight: 700
        }
        .solid {
          border-style: solid;
          background-color: green;
          }
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  </head>

<body>
  {% if testing=='1' %}
    <div class="alert alert-warning" role="alert">
      MODO DE TESTES
    </div>
    {%endif%}
  <div id="header">
  {% block header %}
  
    <div class="text-center">
      <img src="{{ url_for('static', filename='logo_ufca.png')}}" class="rounded" alt="..." width="12%">
    </div>
  <br>
  <div class="text-center">
    <h4>Plataforma Yoko </h4>
    <h5>Módulo {{session['modulo']}}</h5>
    <h6>{{session['username']}}</h6>
    <h6 class="text-right">Versão: {{session['versao']}}</h6>
    <h6 class="text-left">Autor: Prof. Rafael Perazzo Barbosa Mota</h6>
  </div>
  
  <!-- MENU PRINCIPAL -->
  {% include "menu_principal.html" %}
<hr>
 <div id="titulo">
  {% block titulo %}
    <h5>{{titulo}}</h5>
  {% endblock %}
 </div>
<hr>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category,message in messages %}
        {% if category=='erro' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
          <div class="alert alert-success" role="alert">
        {% endif %}  
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        
    {% endfor %}
  {% endif %}
{% endwith %}
  {% endblock %}
 </div>
 
  <div id="content">
    {% block table %}
    
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block endtable %}

    {% endblock %}
  </div>
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  <div id="scripts">
    {% block scripts %}
      
    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    
    {% if testing=='1' %}
      MODO DE TESTES
    {%endif%}
    
    {% endblock %}
    
  </div>
</body>
</html>
