{% extends "BASE_tabela_personalizada.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Template</th>
                <th>Arquivo de template</th>
                <th>Arquivo de imagem</th>
                <th>Identificador</th>
                <th>Dono</th>
                <th>Textos</th>
                <th>Token</th>
                <th>Data</th>
                <th>Arquivo</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>            
        </thead>
        <tbody>
            {% for linha in data %}
                <tr>
                    <td>{{linha.id}}</td>
                    <td>{{linha.template.nome}}</td>
                    <td>{{linha.template.html}}</td>
                    <td>{{linha.template.png}}</td>
                    <td>{{linha.nome}}</td>
                    <td>{{linha.username}}</td>
                    <td>{{linha.textos}}</td>
                    <td>{{linha.token}}</td>
                    <td>{{linha.create_date.strftime('%d/%m/%Y - %H:%M:%S')}}</td>
                    <td><a href="{{url_for('documento_publico',token=linha.token)}}" target="_blank"><img src="{{url_for('static',filename='pdf.png')}}" style="text-align:center;"></a></td>
                    <td>
                        {% if linha.username==session['username'] %}
                            <a href="{{url_for('documento_editar',id=linha.id)}}"><img src="{{url_for('static',filename='editar.png')}}" style="text-align:center;"></a>
                        {%endif %}
                    </td>
                    <td>
                        {% if linha.username==session['username'] %}
                            <a href="{{url_for('documento_excluir',id=linha.id)}}" onclick="return confirm('Tem certeza ? A operação não poderá ser desfeita')"><img src="{{url_for('static',filename='delete.png')}}" style="text-align:center;"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}


