{% extends "BASE.html" %}

{% block title %}
PLATAFORMA YOKO
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs">
    <div class="card text">
        <div class="card-body">
          <h5 class="card-title">1) CRIAR UM TEMPLATE</h5>
          <p class="card-text">Você precisará de um arquivo PNG, que será o fundo do documento e um arquivo HTML para posicionar os textos na imagem.</p>
          <a href="{{url_for('template_adicionar')}}" class="btn btn-primary">Criar Template</a>
        </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="card text">
        <div class="card-body">
          <h5 class="card-title">2) CRIAR UM DOCUMENTO</h5>
          <p class="card-text">A partir de um template pré-existente</p>
          <a href="{{url_for('documento_adicionar')}}" class="btn btn-primary">Criar Documento</a>
        </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="card text">
        <div class="card-body">
          <h5 class="card-title">PROCURAR UM DOCUMENTO</h5>
          <p class="card-text">Na base de dados</p>
          <a href="{{url_for('documento_consultar')}}" class="btn btn-primary">Procurar</a>
        </div>
    </div>
  </div>
</div>
<BR>
<div class="row">
    <div class="col-xs">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Importe de um Arquivo <strong>CSV</strong></h5>
          <p class="card-text">Entrada: Arquivo CSV, com linha de cabeçalhos, e colunas separadas por ponto e vírgula. A primeira coluna deve ser um identificador.</p>
          <a href="{{url_for('importar_documentos_form')}}" class="btn btn-primary">Importar</a>
        </div>
      </div>
    </div>
    <div class="col-xs">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Importe de uma planilha do <strong>Google Drive</strong></h5>
          <p class="card-text">Entrada: Link de uma planilha do google drive, com a primeira linha de cabeçalhos. Primeira coluna como um identificador. O link deve ser compartilhado publicamente.</p>
          <a href="{{url_for('importar_documentos_drive')}}" class="btn btn-primary">Importar</a>
        </div>
      </div>
    </div>
    <div class="col-xs">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Procurar pelo telegram</h5>
          <p class="card-text">Entrada: Seu identificador (CPF, SIAPE, Matrícula, RG)</p>
          <p class="card-text">bot: @pYokoDocs</p>
          <a href="https://t.me/pYokoDocsBot" class="btn btn-primary" target="_blank">Abrir telegram</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
<br>
    <center>
    <!--<div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Código Fonte</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gitlab</h6>
        <p class="card-text">Código fonte disponível livremente.</p>
        <a href="https://gitlab.com/rafaelperazzo/flaskdocs" class="card-link" target="_blank">https://gitlab.com/rafaelperazzo/flaskdocs</a>
      </div>
    </div>-->
    <div>
      <img src="{{url_for('static',filename='footer.png')}}" width="70%">
    </div>
  </center>
{% endblock %}