<!-- MENU PRINCIPAL -->
{% if session.get('roles') %}
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('root')}}">Início <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Template
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('template_adicionar')}}">Criar um novo template</a>
              <a class="dropdown-item" href="{{url_for('template_listar')}}">Listar templates</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Documento
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('documento_adicionar')}}">Criar um novo documento</a>
              <a class="dropdown-item" href="{{url_for('documento_listar')}}">Listar documentos</a>
              <a class="dropdown-item" href="{{url_for('documento_consultar')}}">Procurar Documentos</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Importar
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('importar_documentos_form')}}">Importar de um arquivo CSV</a>
              <a class="dropdown-item" href="{{url_for('importar_documentos_drive')}}">Importar do Google Drive</a>
            </div>
          </li>
          
            {% if 'admin' in session['roles'] %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuários
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{url_for('usuario_adicionar')}}">Adicionar</a>
                  <a class="dropdown-item" href="{{url_for('usuario_mostrarTodos')}}">Listar</a>
                </div>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  {% endif %}