{% extends "BASE_documento.html" %}
    {% block header %}
        <style type='text/css'>
                        .serif{
            font-family: serif;
            }
            .texto {
            margin: 0;
            }
            .negrito {
            font-weight: 700
            }
            .negrito-2 {
            font-weight: 600
            }
            .sublinhar{
            text-decoration: underline;
            }
            .center {
            text-align: center
            }
            .esquerda {
            text-align: right;
            }
            .overline {
            text-decoration: overline;
            }
            .quebra_linha{
            display: block;
            }
            /*configurações de fonts*/
            .font-12 {
            font-size: 12px;
            }
            .font-17 {
            font-size: 17px;
            }
            .font-24 {
            font-size: 24px;
            }
            .font-36 {
            font-size: 36px;
            }
            .font-40 {
            font-size: 40px;
            }
            /*confifurações de margin*/
            .padding_top_35{
            padding-top:35px;
            }
            .margin_bottom_35{
            margin-bottom: 35px;
            }
            .altura_linhas_19{
            line-height: 19px;
            }
            .altura_linhas_35{
            line-height: 35px;
            }
            .altura_linhas_25{
            line-height: 25px;
            }
            .caixa_informacoes_aluno_cea{
            font-size: 28px;
            text-align: justify;
            padding-right: 20px;
            }
            .local_data{
            font-size: 28px;
            text-align: right;
            padding-right: 80px;
            padding-top: 40px;
            }
            .caixa_informacoes_aluno_cea_2{
            font-size: 22px;
            text-align: justify;
            padding-right: 46px;
            padding-left: 46px;
            }
            .caixa_informacoes_aluno_cea p{
            margin-top: 5px;
            }
            .enchimento {
                padding: 225px;
            }
            .assinatura_cea{
            font-size: 20px;
            padding-top: 120px;
            }
            .assinatura{
            position: absolute;
            top: 610px;
            left: 420px;
            }
            .token{
            line-height: 22px;
            font-size: 13px;
            padding-top: 5px;
            padding-right: 80px;
            }
            .titulo_cea_2{
            margin-top: 35px;
            margin-bottom: 35px;
            }
            .data_entrega_cea{
            padding-top: 0px;
            padding-bottom: 5px;
            }
            /*configurações de exibição da pagina e conteudo*/
            .certificado_conteudo {
            -webkit-print-color-adjust: exact;
            background-image: url({{imagem}});
            height: 1238px;
            width: 1754px;
            background-repeat: no-repeat
            }
            .certificado_pagina {
            padding: 5mm;
            width: 1754px;
            margin: 5mm auto;
            box-shadow: .5px .5px 7px #000;
            border-radius: 2px;
            overflow: hidden;
            }
            /*area de configuraçõa da pagina*/
            @page {
            size: 297mm 210mm;
            margin: 5mm;
            size: landscape
            }
            body {
            margin: 0;
            padding: 0px !important;
            font-family: 'Open Sans', sans-serif
            }
            p{
            margin: 0px;
            }
            /*SEMPRE DEIXAR NO FIM DO CODIGO configuração de impresão*/
            @media print {
            .certificado_pagina {
            padding: 0;
            padding-top: 0px;
            background: transparent;
            margin: 0;
            border-radius: 2px;
            box-shadow: 1px;
            -webkit-box-shadow: none
            }
            }
        </style>
        {% endblock %}

{% block body %}
        <div>
            <div class="certificado_pagina">
                <div class="certificado_conteudo">
                    <div class="row center-xs">
                        <p class="enchimento"></p>
                    </div>
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <div class="box">
                                <div class="caixa_informacoes_aluno_cea serif">
                                    <p class="center">Certificamos que</p>
                                    <p class="center negrito">{{conteudo[0]}}</p>
                                    <p>
                                        estudante do curso de <b>{{conteudo[1]}}</b> da Universidade Federal do Cariri, 
                                        CPF n.º <b>{{conteudo[2]}}</b>, matrícula n.º <b>{{conteudo[3]}}</b>, 
                                        desenvolveu atividades como <b>{{conteudo[4]}}</b> do 
                                        Programa/Projeto <b>{{conteudo[5]}}</b>, 
                                        vinculado à Pró-reitoria de Cultura desta universidade, 
                                        sob tutoria de <b>{{conteudo[6]}}</b>, de <b>{{conteudo[7]}}</b> a <b>{{conteudo[8]}}</b>, 
                                        totalizando a carga horária de <b>{{conteudo[9]}}</b> horas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row end-xs">
                        <div class="col-xs-10">
                            <div class="box">
                                <div class="caixa_informacoes_aluno_cea">
                                    <p class="local_data serif">
                                        {{conteudo[10]}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs">
                        <div class="col-xs-12">
                            <div class="box">
                                    <div class="assinatura_cea">
                                        <p class="negrito center">José Robson Maia de Almeida</p>
                                        <p class="negrito center">Pró-reitor de Cultura</p>
                                        <p class="negrito center">Universidade Federal do Cariri</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row end-xs">
                        <div class="col-xs-10">
                            <div class="box">
                                <div class="token serif">
                                    <p class="esquerda">Verifique a autenticidade deste documento em: </p>
                                    <p class="esquerda"><a href="/documento/{{token}}/publico" target="_blank">https://{{host}}/documento/{{token}}/publico</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
{% endblock %}
