<a href="/"><b> Plataforma Yoko - Módulo Documentos</b></a>

<b> Consultar documento </b>

Digite o identificador do documento, que pode ser um CPF, SIAPE, Matrícula ou RG.
<i>(apenas os números, sem pontos ou travessões)</i>