{% extends "BASE_tabela_personalizada.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Arquivo de template</th>
                <th>Arquivo de imagem</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Editar</th>
                <th>Editar HTML</th>
                <th>Excluir</th>
            </tr>            
        </thead>
        <tbody>
            {% for linha in data %}
                <tr>
                    <td>{{linha.id}}</td>
                    <td>{{linha.nome}}</td>
                    <td><a href="{{url_for('template_visualizar',id=linha.id)}}" target="_blank">{{linha.html}}</a></td>
                    <td><a href="{{url_for('template_mostrar_imagem',id=linha.id)}}" target="_blank">{{linha.png}}</a></td>
                    <td>{{linha.username}}</td>
                    <td>{{linha.create_date.strftime('%d/%m/%Y - %H:%M:%S')}}</td>
                    <td><a href="{{url_for('template_editar',id=linha.id)}}"><img src="{{url_for('static',filename='editar.png')}}" style="text-align:center;"></a></td>
                    <td><a href="{{url_for('template_modificar',id=linha.id)}}"><img src="{{url_for('static',filename='html.png')}}" style="text-align:center;"></a></td>
                    <td><a href="{{url_for('template_excluir',id=linha.id)}}" onclick="return confirm('Tem certeza ? A operação não poderá ser desfeita')"><img src="{{url_for('static',filename='delete.png')}}" style="text-align:center;"></a></td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}